@font-face {
  font-family: "Noto Sans";
  src: url("noto/NotoSans-Regular.ttf");
}
@font-face {
  font-family: "Noto Sans";
  src: url("noto/NotoSans-Thin.ttf");
  font-weight: 100,lighter;
}
@font-face {
  font-family: "Noto Sans";
  src: url("noto/NotoSans-ExtraLight.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Noto Sans";
  src: url("noto/NotoSans-Light.ttf");
  font-weight:  300;
}
@font-face {
  font-family: "Noto Sans";
  src: url("noto/NotoSans-Regular.ttf");
  font-weight:  400;
}
@font-face {
  font-family: "Noto Sans";
  src: url("noto/NotoSans-Medium.ttf");
  font-weight:  500;
}
@font-face {
  font-family: "Noto Sans";
  src: url("noto/NotoSans-SemiBold.ttf");
  font-weight:  600;
}
@font-face {
  font-family: "Noto Sans";
  src: url("noto/NotoSans-Bold.ttf");
  font-weight: 700,bold;
}
@font-face {
  font-family: "Noto Sans";
  src: url("noto/NotoSans-ExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "Noto Sans";
  src: url("noto/NotoSans-Black.ttf");
  font-weight: bolder,900;
}

@font-face {
  font-family: "Noto Sans";
  src: url("noto/NotoSans-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Noto Sans";
  src: url("noto/NotoSans-ThinItalic.ttf");
  font-weight: 100,lighter;
  font-style: italic, oblique;
}
@font-face {
  font-family: "Noto Sans";
  src: url("noto/NotoSans-ExtraLightItalic.ttf");
  font-weight: 200;
  
}
@font-face {
  font-family: "Noto Sans";
  src: url("noto/NotoSans-LightItalic.ttf");
  font-weight:  300;
  font-style: italic, oblique;
}
@font-face {
  font-family: "Noto Sans";
  src: url("noto/NotoSans-Italic.ttf");
  font-weight:  400;
  font-style: italic, oblique;
}
@font-face {
  font-family: "Noto Sans";
  src: url("noto/NotoSans-MediumItalic.ttf");
  font-weight:  500;
  font-style: italic, oblique;
}
@font-face {
  font-family: "Noto Sans";
  src: url("noto/NotoSans-SemiBoldItalic.ttf");
  font-weight:  600;
  font-style: italic, oblique;
}
@font-face {
  font-family: "Noto Sans";
  src: url("noto/NotoSans-BoldItalic.ttf");
  font-weight: bold,700;
  font-style: italic, oblique;
}
@font-face {
  font-family: "Noto Sans";
  src: url("noto/NotoSans-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic, oblique;
}
@font-face {
  font-family: "Noto Sans";
  src: url("noto/NotoSans-BlackItalic.ttf");
  font-weight: bolder,900;
  font-style: italic, oblique;
}


body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
